<?xml version="1.0" encoding="utf-8"?>  
<configuration>  
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Strict-Transport-Security" value="max-age=63072000" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Referrer-Policy" value="same-origin" />				
				<remove name ="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		
		<httpErrors errorMode="Custom">
			<clear/>
			<error statusCode="404" path="/" responseMode="ExecuteURL"/>
		</httpErrors>
		  
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<httpCompression>
			<dynamicTypes>
				<add mimeType="text/css" enabled="true" />
				<add mimeType="text/html" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="image/svg+xml" enabled="true" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/css" enabled="true" />
				<add mimeType="text/html" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="image/svg+xml" enabled="true" />
			</staticTypes>
		</httpCompression>
		  
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
		
		<security>
			<requestFiltering removeServerHeader="true">
			</requestFiltering>
		</security>

    </system.webServer>  
</configuration>